body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    text-align: center;
    padding: 1px 0;
}

header h1 a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

main {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.jogos {
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card img {
    max-width: 100px;
}

.install-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.coming-soon-button {
    display: inline-block;
    background-color: #a9a9a9; /* Botão cinza */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: not-allowed; /* Cursor de "não permitido" */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
